
/* Site footer
 * ------------------------------------------------------------- */

.site__footer { padding: var(--between) 0; }
.site__footer p { @include font-size(16); }

.site__footer .nav__menu {
    @include no-bullets();
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1em;
}

.site__footer .nav__menu li { margin-right: 1em; }



/* Colophon author
 * ------------------------------------------------------------- */

.jokedewinter a { width: 75px; height: 30px; display: block; background: url('../images/jokedewinter.svg'); border-bottom: none; }
.jokedewinter a:hover { border-bottom: none; }

@include viewport(medium) { .jokedewinter { display: inline-block; float: right; } }